@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

/* normalização */

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

html, body, #root{
    min-height: 100%;
}

body{
    background: url('./assets/bg.png') no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased !important;
}

p{
    font-family: 'Baloo Thambi 2', cursive;
    margin: 10px;
    font-size: 12pt;
}

h3{
    font-size: 25px;
    font-weight: 900;
}

/* Fim normalização */



/* Header */

header{
    width: 100%;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.title-name{
    font-size: 20px;
    font-weight: 900;
}

.menu{
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 10px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 18px;
}
.menu ul li:hover a{
    color: #ffffff;
    /* text-decoration: underline #fafafa; */
    transition: 0.5s;
}
/* Fim Header */

/* Pages */

section{
}

.page{

}

.page .content-item{

}

.page .content-item .titulo-page{
    text-align: center;
}

/* fim Pages */